body {
    background-color: #3498db; /* Blue background color */
    color: #fff; /* White text color */
    padding-top: 5px; /* Add some top padding to the body */
}

.nav-tabs {
    background-color: #2980b9; /* Dark blue color for the navigation bar */
}

.nav-tabs .nav-item .nav-link {
    color: #fff; /* White text color for the tabs */
}
.icon{
    width: 30px;
    height: auto;
}
.head{
   background: linear-gradient(to bottom, white 0%, #488AC7 100%);
}
.form-select{
    border: none;
}
label{
    font-family: Helvetica;
    color: #2C3539;
    font-weight: bold;
    
}
.input{
    border: none;
}